.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.splashContainer{
    background-image: url('https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/ZG_Brand_LA_0322_Harvard-_ExtFront_1504_4936px_NO-PPL_desktopImg2x-scaled.webp');
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    height: 50vh;
}
.search-center{
    margin-top: 170px;
    margin-left: 400px;
    display: inline-block;;
  
}

.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap: 20px;
    

}
.card-hover:hover{
    box-shadow: rgb(209 209 213) 0px 5px 15px;
}
.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: contain;
}
.contained{
    object-fit: contain;
}
a{
    text-decoration: none;
}